.loginScreen {
  position: relative;
  height: 100%;
  background: url("https://assets.nflxext.com/ffe/siteui/vlv3/d0a0affb-1c76-4cf0-9d75-eb531f32458c/e81da519-216b-4341-b9e7-92d45398ddc3/IN-en-20221214-popsignuptwoweeks-perspective_alpha_website_medium.jpg")
    no-repeat center;
  background-size: cover;
}
.loginScreen__logo {
  position: fixed;
  left: 20px;
  top: 20px;
  width: 150px;
  object-fit: contain;
  padding-left: 20px;
  cursor: pointer;
}
.loginScreen__button {
  position: fixed;
  right: 20px;
  top: 20px;
  padding: 10px 20px;
  color: #fff;
  background-color: #e50914;
  font-size: 1rem;
  cursor: pointer;
  border: none;
}
.loginScreen__gradient {
  width: 100%;
  z-index: 1;
  height: 100vh;
  background: rgba(0, 0, 0, 0.4);
  background-image: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.8) 0,
    rgba(0, 0, 0, 0) 60%,
    rgba(0, 0, 0, 0.8) 100%
  );
}
.loginScreen__body {
  position: absolute;
  top: 30%;
  left: 0;
  right: 0;
  margin: 0 auto;
  text-align: center;
  z-index: 1;
  color: #fff;
  padding: 20px;
}
.loginScreen__body > h1 {
  font-size: 3.125rem;
}
.loginScreen__body > h2 {
  font-size: 1.625rem;
  margin: 1rem auto;
}
.loginScreen__body > p {
  font-size: 1.2rem;
  max-width: none;
  padding-bottom: 20px;
}
.loginScreen__input > form > input {
  padding: 10px;
  outline-width: 0;
  height: 30px;
  width: 30%;
  border: none;
  max-width: 600px;
}
.loginScreen_getStarted {
  padding: 16px 20px;
  font-size: 1rem;
  border: none;
  color: #fff;
  background-color: #e50914;
  cursor: pointer;
  font-size: 600;
}

@media only screen and (max-width: 600px) {
  .loginScreen__logo {
    left: 0;
    width: 100px;
  }
  .loginScreen__body > h1 {
    font-size: 32px;
  }
  .loginScreen__body > h2 {
    font-size: 20px;
  }
  .loginScreen__body > p {
    font-size: 16px;
  }
}
